<div class="col-md-4">
    <div class="position-sticky" style="top: 2rem;">
        <div>
            <h3 class="fst-italic">Recent Posts</h3>
            <ul class="list-unstyled">
                <li>
                    <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                        href="/post/:id">
                        <div class="col-lg-8">
                            <h5>Sample Blog Post</h5>
                            <p class="my-2">Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
                            <small class="text-body-secondary">January 15, 2023</small>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                        href="/post/:id">
                        <div class="col-lg-8">
                            <h5>Sample Blog Post</h5>
                            <p class="my-2">Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
                            <small class="text-body-secondary">January 15, 2023</small>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                        href="/post/:id">
                        <div class="col-lg-8">
                            <h5>Sample Blog Post</h5>
                            <p class="my-2">Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
                            <small class="text-body-secondary">January 15, 2023</small>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>